<%= link_to gravatar_for(current_user), size: Settings.user.avatar.min_size %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("account.view_my_profile"), current_user %></span>
<span><%= pluralize current_user.microposts.count, t("micropost") %></span>
